input:focus, textarea:focus, select:focus {
  outline: none
}

/* Código pra cortar esquina do botão */

.cut-corner{
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 50%);
}

/* Código pra cortar esquina do botão com direito a borda!! */
.cut-corner-border{
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: black;
  /* Largura da borda */
  padding: 2px; 
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 50%);
}
.cut-corner-border div{
  clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 50%);
}

/* Borda custom com bem te vi */
.estilo{
  border-image: url(imagens/borda-btv.svg) 20% round;
  border-width: 18px;
}

/* Texto com borda */
.stroke-text{
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
             1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

/* Código pra pág escolher estilo */
input[type="checkbox"][id^="checkbox"] {
  display: none;
}

label {
  transition-duration: 0.2s;
}

:checked + .label-estilo:before {
  transform: scale(2);
}

:checked + .label-estilo {
  transform: scale(0.87);
  border: 1px solid #F9C62E;
}

:checked + label img{
  display: block;
}

.custom-scroll::-webkit-scrollbar{
  width: 6px;
  background-color: rgba(0,0,0,0);
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #F9C62E;
  border-radius: 10px;
  width: 10px;
}

.dashed-border{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.borda-btv{
  background-image: url("imagens/borda-btv.svg");
}

.borda-btv2{
  background-image: url("imagens/estilo-border.svg");
}

.centralizado-fixed{
  transform: translate(-40%);
}

/* [id^=modal] {
  display: none;
  position: fixed;

}
[id^=modal]:target {
  display: block;
} */