input:focus, textarea:focus {
    outline: none;
  }
  
  .cut-corner {
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 50%);
  }
  
  .stroke-text {
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  }
  
  input[type="checkbox"][id^="checkbox"] {
    display: none;
  }
  
  label {
    transition-duration: 0.2s;
  }
  
  input[type="checkbox"]:checked + .label-estilo:before {
    transform: scale(2);
  }
  
  input[type="checkbox"]:checked + .label-estilo {
    transform: scale(0.9);
    border: 1px solid #F9C62E;
  }
  
  input[type="checkbox"]:checked + label img {
    display: block;
  }